* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: ghostwhite;
}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.product-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.product-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.products-con {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    width: 80vw;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(341px, 1fr));
    justify-content: center;
    /* justify-items: center; */
    grid-auto-flow: row;
}

.item-pic {
    height: 600px;
    width: 600px;
    object-fit: cover;
}

.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.home {
    margin: 10px;
}
